.itemDetail {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.botonItem {
  color: white;
  background-color: black;
  border-style: none;
  padding: 5%;
  margin: 5px 10px;
}
.botonItem:hover {
  color: white;
  background-color: black;
  border-style: none;
  padding: 5%;
  margin: 5px 10px;
}
