.formDato {
  padding: 1%;
}

.comprar {
  background-color: black;
  color: white;
  border-style: none;
  margin-top: 10px;
  padding: 10px;
}
.comprar:hover {
  color: white;
  background-color: black;
  border-style: none;
}
