.contador {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.botonesContador {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.contadorBoton {
  color: white;
  background-color: black;
  border-style: none;
  padding: 10%;
  margin: 5px 10px;
}

.contadorBoton:hover {
  color: white;
  background-color: black;
  border-style: none;
  padding: 10%;
  margin: 5px 10px;
}

.contadorBoton:disabled {
  background-color: gray;
}

.contadorAgregar {
  background-color: black;
  text-decoration: none;
  color: white;
  border-style: none;
  margin: 2%;
  padding: 10px;
}
.contadorAgregar:hover {
  color: white;
  background-color: black;
  border-style: none;
}

.contadorCantidad {
  color: black;
  padding: 2%;
  text-align: center;
  padding-top: 5%;
}
.sinStock {
  display: none;
}
.leyendaSinStock {
  color: red;
}
.avisoSinStock {
  display: none;
}
